<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @person.birth_year %>
</p>

<p>
  <strong>Homeworld:</strong>
  <%= @person.homeworld %>
</p>

<p>
  <strong>Vehicles:</strong>
  <ul>
  <% @person.vehicles.each do |vehicle| %>

    <li>
    <%= vehicle.name %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
