<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @person.birth_year %>
</p>

<p>
  <strong>Homeworld:</strong>
  <%= @person.homeworld %>
</p>

<p>
  <strong>Starships:</strong>
  <%= @person.starships %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
